.analytics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.analytics-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 90%;
    max-width: 600px;
    height: 30vh;
}

.analytics-container label {
    font-weight: bold;
}

.history-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    max-width: 100%;
    height: 40vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.graph-container {
    flex: 1;
}

.failed-tests-container {
    flex: 2;
    align-items: center;
}

.history-info img {
    width: 25vw;
    max-width: 100%; 
    height: auto; 
    border-radius: 5px; 
    border: 1px solid rgba(0, 0, 0, 0.5);  
    display: block;
}

.graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}